<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="com.atsistemas"/>

	<bean class="com.atsistemas.Persona"></bean>

	<bean id="persona" class="com.atsistemas.Persona">
		<property name="nombre" value="Victor"></property>
		<property name="direccion" ref="direccion"></property>
	</bean>
	
	<bean id="persona1" class="com.atsistemas.Persona">
		<property name="nombre" value="Juan" />
		<property name="direccion" ref="direccion1"></property>
	</bean>
	
	<bean id="direccion" class="com.atsistemas.Direccion">
		<property name="calle" value="mayor" />
	</bean>
	
	<bean id="direccion1" class="com.atsistemas.Direccion">
		<property name="calle" value="menor" />
	</bean>

</beans>
